<div class="base">
  <div class="icon-div">
    <a href="https://github.com/bkellym" target="_blank">
      <img class="icon" src="/assets/img/github.png"/>
    </a>
  </div>

  <div class="icon-div">
    <a href="https://www.instagram.com/keller._.santos/" target="_blank">
      <img class="icon" src="/assets/img/instagram.png"/>
    </a>
  </div>

  <div class="icon-div">
    <a href="https://www.linkedin.com/in/bkellysm/" target="_blank">
      <img class="icon" src="/assets/img/linkedin.png"/>
    </a>
  </div>
</div>
