.base{
  display: flex;
  flex-direction: row;
  margin: 32px 16px;
}

.item{
  font-weight: 800;
  color: #00ECFF;
  font-size: 24px;
  font-family: 'Rubik', sans-serif;
}

.ano{
  color: #adadadac;
  margin: 6px 16px;
}
