<div class="base">
  <img src="/assets/img/tool-box.svg"/>

  <div class="tool-box">
    <div class="row">
      <div class="column">
        <app-tool image="/assets/img/java.png" title="Java" ></app-tool>
      </div>
      <div class="column">
        <app-tool image="/assets/img/spring-boot.png" title="Spring Boot" ></app-tool>
      </div>
      <div class="column">
        <app-tool image="/assets/img/react.png" title="React" ></app-tool>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <app-tool image="/assets/img/python.png" title="Python" ></app-tool>
      </div>
      <div class="column">
        <app-tool image="/assets/img/hibernate.png" title="Hibernate" ></app-tool>
      </div>
      <div class="column">
        <app-tool image="/assets/img/angular.png" title="angular" ></app-tool>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <app-tool image="/assets/img/javascript.png" title="Javascript" ></app-tool>
      </div>
      <div class="column">
        <app-tool image="/assets/img/oracle.png" title="SQL" ></app-tool>
      </div>
      <div class="column">
        <app-tool image="/assets/img/nodejs.png" title="NodeJS" ></app-tool>
      </div>
    </div>
  </div>
</div>
