<div class="intro">
  <p class="text">
    Minha jornada com os códigos se iniciou em 2014, quando iniciei nas tecnologias da época tais como PHP, Bootstrap e MySLQ.
    Esse foi o pontapé e incentivo necessários para despertar a minha paixão por criar sistemas e soluções digitais que facilitem
    a vida das pessoas.
  </p>

  <p class="text">
    A partir de então, mudei de área de estudo na faculdade e, em 2015, iniciei o curso de Ciência da Computação no IFCE.
    Após perceber a necessidade de focar em minha experiência no mercado de trabalho, fiz a transferência para
    Sistemas e Mídias Digitais na UFC, em 2018.
  </p>

  <p class="text">
    Neste momento se iniciou a minha experiência prática no mercado de trabalho. Tal qual um aventureiro do RPG que tenho como Hobbie,
    comecei a trabalhar primeiro como estagiário, adquirindo diversas vivências e conhecimentos sobre como funcionam um sistema real
    e robusto. Assim, migrei para a área de negócios, atuando como Product Owner e, quando retornei ao desenvolvimento, minhas habilidades
    de compreensão e aplicação de regras de negócios estavam bem mais evoluídas.
  </p>

  <p class="text">
    Hoje, me orgulho do profissional que sou, apaixonado por desenvolvimento e criação de soluções e que tem sempre o cliente como foco.
    Também sou alguém que acredita em uma boa liderança e procuro compartilhar todo o conhecimento que adquiri em minha carreira,
    além da habilidade de ser um desenvolvedor fullstack generalista, com ponto forte em arquitetura de banco de dados e análise de dados,
    sempre estendendo a bandeira da diversidade e inclusão.
  </p>

  <app-pillars> </app-pillars>

  <p class="text">
    Tenho como pilares que guiam minha carreira, e minha vida, a <em> empatia </em> para colaborar com pessoas,
    procurando ao máximo compreender seu ponto de vista e compartilhar conhecimento e experiências,
    <em> paixão </em> por programação, criação e tecnologia e por ultimo e não menos importante <em> curiosidade </em>
    em obter novos conhecimentos, e estar sempre me desenvolvendo profissional e pessoalmente.
  </p>

</div>

