
.column {
  float: left;
  width: 40%;
  margin-left: 55%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.fixed {
  top: 50%;
  position: -webkit-sticky;
  position: fixed;
  margin: 0;
  margin-left: 5%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
