.column {
  float: left;
  width: 40%;
  margin-left: 5%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.fixed {
  top: 0;
  position: sticky;
}
