<section class="row">

  <div class="column fixed">
    <app-header> </app-header>
  </div>

  <div class="column">
    <app-intro> </app-intro>
    <app-tool-box></app-tool-box>
    <app-subtittle text="Formação"></app-subtittle>
    <app-formacao uni="Universidade Federal do Ceará - UFC" ano="2018 - 2023" curso="Sistema e Mídias Digitais"></app-formacao>
    <app-formacao uni="Instituto Federal do Ceará - IFCE" ano="2014 - 2018" curso="Ciência da Computação"></app-formacao>
    <app-subtittle text="Experiência"></app-subtittle>
    <app-experiencias></app-experiencias>
  </div>

</section>
