.base{
  margin: 64px;
}

.title{
    font-weight: 800;
    color: #00ECFF;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    margin: 0px;
}

.row{
  display: flex;
  flex-direction: row;
}

.ano{
  display: flex;
  font-size: 13px;
  margin: 16px 16px 0px 0px;
  padding: 4px 16px;
  background: radial-gradient(ellipse at top, #78929936, transparent),
            radial-gradient(ellipse at bottom, #072F34, transparent);
  border: 2px solid #00ECFF;
  border-radius: 32px;
}

.curso{
  color: #FFFFFF;
  display: flex;
  font-size: 18px;
  margin-top: 18px;
}
