<div class="base">
  <app-exp-title text="Techne - 2018"></app-exp-title>

  <p class="desc">
    Atuação em suporte de sistema legado com Java 1.6, primeira experiência com Spring Boot e JSP,
    auxiliando na implementação de telas com Angular e desenvolvimento de API Rest, análise e
    correção de procedures e triggers em banco de dados Oracle e SQL Server.
  </p>


  <app-exp-title text="Atmosfera - 2020"></app-exp-title>

  <p class="desc">
    Atuação como Product Owner, sendo responsável pelo levantamento de requisitos junto aos idealizadores
    da plataforma Nitro, adminstração e priorização do backlog, realização de testes e análise da qualidade
    de entregas, consultoria para estrutura do banco de dados e elaboração de relatórios e  análise de desempenho
    do produto e engajamento dos usuários.
  </p>

  <app-exp-title text="Sankhya - 2021"></app-exp-title>

  <p class="desc">
    Desempenho como desenvolvedor fullstack responsável por implementações com base em documentação passada,
    destaque em performance na atualização e estruturação de aplicativo com Flutter e conformidade de integração
    de sistema com api eSocial.
  </p>

  <app-exp-title text="Lampp-it - 2023"></app-exp-title>

  <p class="desc">
    Desempenho como desenvolvedor fullstack, atuando com API Rest, Spring Boot e Hibernate, responsável pela arquitetura
    de projetos e destaque ao assumir a posição de líder técnico do programa trainee, além de auxiliar na estruturação
    de plano de estudos e acompanhamento de progresso e desenvolvimento profissional dos Trainees.
  </p>

</div>
